        .scrollbox {
            overflow: scroll;
            border: solid black 4px;
            border-radius: 1rem;
           scroll-behavior: smooth;
           height: 500px;
           overflow-x: hidden;
        

        }

        ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

        