        .scrollbox {
            overflow: scroll;
            border-radius: 1rem;
           scroll-behavior: smooth;
           height: 500px;
           overflow-x: hidden;
        

        }

        ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  background-image: url(https://images.squarespace-cdn.com/content/v1/5dca05b2a3cc8228038534d2/1573522336826-T0CUYY5G3PD5XQ14HF67/ABS-8664.jpg);
  background-repeat: space;
}